/* styles for tabs when hovered over*/
#adminDash:hover, #medData:hover, #override:hover  {
    color: black;
    background-color: #F5DE36;
    opacity: 100%;
}

/* styles for active tabs*/
.activ {
    color: white;
    background-color: #003763 ;
    display: inline-flex;
    align-items: center;
    text-align: center;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    line-height: 1.75;
    white-space: normal;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
}